<nav>
    <a href="" class="logo"></a>
    <ul>           
        <li  routerLinkActive="active">
            <a href="" routerLink="/museums">Museums</a>
        </li>

        <li  routerLinkActive="active">
            <a href="" routerLink="/exhibitions">Virtual Tours</a>
        </li>

        <li  routerLinkActive="active">
            <a href="" routerLink="/news">News</a>
        </li>

        <li class="profile-link" routerLinkActive="active">
            <a href="/profile">Profile</a>
        </li>
    </ul>
    <a href="" [routerLink]="['/profile']" class="profile"></a>
</nav>